DirectoryIndex frontend.php
RewriteEngine on
RewriteBase /
# Hide the application and system directories by redirecting the request to index.php
RewriteCond $1 !^(frontend\.php|backend\.php|images|robots\.txt)

# If the user types just "backend".
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^backend$ backend\.php [L,QSA]

# If the user enter in any backend section, like "backend/section".
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^backend/(.*)$ backend\.php/$1 [L,QSA]

# If the user types any site section, like "frontend/section".
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ frontend\.php/$1 [L,QSA]